<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="include/bootstrap :: bootstrap"></div>
</head>
<body style="background-color: #EEEEEE;">
<div th:replace="include/TeacherNav :: TeacherNav"></div>
<div class="jumbotron" style="height: 630px;padding-top: 50px; padding-bottom: 0px; margin-left: 18%;">
    <div style="padding-left: 20px;">
        <h2>
            &emsp;&emsp;试题管理系统
        </h2>
        <p>
            &emsp;&emsp;一个基于springboot和bootstrap的试题管理系统<br />
        </p>
        <p>
        &emsp;&emsp;&emsp;随着网络的发展，整个社会正在向信息化模式转变，传统的教育模式需要现在的信息技术来该改变，各地的学校已经把智能化教学与考试系统作为重要研究课题。为了实现考试工作的标准化、科学化以及信息化，建立了通用的试题库系统，这对整个教育领域具有非常大的实际意义。
        在线考试系统与传统的考试相比，由于传统的考试涉及了组织命题、试卷印刷、考场安排、组织阅卷等多个环节，考试试卷周期长、效率底下；同时人工批阅试卷的主观因素也影响到考试的公平性，试题管理系统正是迎合这一时代需求而开发的。
        随着当今教育制度的改革，办事的快捷与高效成了亟待解决的问题，而试题管理也成为高校教学管理工作中的重要任务，试题管理水平的高低直接反应高校教学管理水平的高低。
        试题管理系统是现代学校教学过程中非常重要的一部分。对于教学而言，出试卷是必不可少的，一个优秀的试题系统，能够对时常性地测试和增强学生的知识水平和知识掌握程度具有重要的意义。因为考试不仅是检验教学成果和学生学习成绩的一种有效的方式，同时也是巩固知识的有效手段。一个高质量和试题库是一个学校教学资源和教学水平的。试题系中试题数量的不断积累和更新是教学水平不断提升的标志。
        试题管理系统可以对试题进行科学有效的管理，利用现代电脑，可以对试题进行集中、有序、有效的管理，方便更新、快捷查询、灵活组卷，还可以在阅卷后直接打印出试卷，很大程度上降低了劳动强度，另外利用网络登录系统可以增加试卷的保密性和安全性。教师也能脱离复杂繁重的组织考试工作、出题工作以及阅卷工作，有更多的时间和精力提高教学水平。学生也不用花费额外的时间到达指定的地点就可以考试、更快的得到考试结果、更容易了解自己的不足之处，提高学习效率。<br />
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="https://www.baidu.com" target="_blank">进入作者主页</a>
        </p>
    </div>
</div>
</body>
</html>